.loading{
	z-index: -1;
	height: 170px;
	animation: fadeIn 15s;
	/* animation: fadeOut 8s; */
	  

	
	/* Centering the image in middle */
	margin: 0;
  	position: absolute;
  	top: 50%;
  	left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);


}
.orb{
	height: 20vh;
	/* width: 20vw; */
}

.tecstasy_text{
	display: none;
	margin: auto;
	align-self: center;
	font-size: 40px;
	color: -webkit-linear-gradient( rgba(255, 0, 0, 0.938) , orange);
	z-index: 1; 
	margin-top: 65vh;
	width: 160px;
	/* For the Tecstacy color */
	background: linear-gradient(to right, red, orange 100%);
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
		animation: fadeIn 15s;
}
/*.top-nav-bar{
	height: 10px;
	margin-left: 230px;
	margin-top: 0;
	position: sticky;
	background:transparent;
	z-index: 2  ;
}*/
.menu-bar{
	margin-top: 0;
	height: 60px;
	text-align: center;
}

.menu-bar ul{
	display: inline-flex;
}



.menu-bar li{
	list-style-type: none;
	padding: 15px 55px;
	text-align: center;
	background-color: transparent;

}
.menu-bar li a{
	font-size: 20px;
	font-weight: bold;
	color: red;
	text-decoration: none;
		cursor: pointer;
}
.menu-bar li a:hover{
	font-size: 20px;
	font-weight: bold;
	color: orange;
	text-decoration: none;
}

@keyframes fadeIn{
 0% {opacity: 0;}
 12%{opacity: 0;}
 25%{opacity: 1;}
 50%{opacity: 1;}
 100% {opacity: 0;} 

